In [17]:
import pandas as pd
import datetime as dt

In [11]:
import os
print(os.getcwd())
os.listdir("/kaggle/input")

/kaggle/working

[]

In [13]:
# Loading the dataset
df = pd.read_csv("/kaggle/input/netflix-shows/netflix_titles.csv")
print(df.shape)
df.head()

(8807, 12)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [15]:
# Understanding the Data
print("Shape of the dataset (R x C):", df.shape) 
print("\nColumns in the dataset:\n", df.columns.tolist())
print("\nData types:\n", df.dtypes) 
print("\nMissing values per column:\n", df.isnull().sum())
print("\nNumber of duplicate rows:", df.duplicated().sum())

Shape of the dataset (R x C): (8807, 12)

Columns in the dataset:
 ['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year', 'rating', 'duration', 'listed_in', 'description']

Data types:
 show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

Missing values per column:
 show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

Number of duplicate rows: 0

In [20]:
# Feature extraction and Structuring
# Convert 'date_added' to datetime
df['date_added'] = pd.to_datetime(df['date_added'], errors='coerce')

# Split duration into value and unit 
df[['duration_value', 'duration_unit']] = df['duration'].str.extract(r'(\d+)\s*(\w+)')
df['duration_value'] = pd.to_numeric(df['duration_value'])

In [21]:
# Step 4
# 4. Cleaning (Handling Missing and Duplicate Data) # 

# Drop duplicate rows df = df.drop_duplicates()
# Drop 'description' column (not needed) 
df = df.drop(columns=['description'])
# Handle missing Director values
df['director'] = df['director'].fillna('Not Given')
# Handle missing Cast values
df['cast'] = df['cast'].fillna('Not Given')
# Handle missing Country values
df['country'] = df['country'].fillna('Not Given')
# Drop rows with critical nulls (date_added, rating, duration) 
df = df.dropna(subset=['date_added', 'rating', 'duration'])

In [22]:
# Step 5
# 5. Transformation (Filtering, Sorting, Grouping)
# ------------------------------- 
# Example: Filter only Movies
movies = df[df['type'] == 'Movie']
# Example: Sort by most recent release year
recent_releases = df.sort_values(by='release_year', ascending=False).head(10)
# Example: Group by country to count number of titles
titles_by_country = df.groupby('country')['show_id'].count().sort_values(ascending=False).head(10)
print("\nTop 10 Countries by Number of Titles:\n", titles_by_country)

Top 10 Countries by Number of Titles:
 country
United States     2775
India              971
Not Given          826
United Kingdom     403
Japan              240
South Korea        195
Canada             173
Spain              141
France             122
Mexico             110
Name: show_id, dtype: int64

In [23]:
# Step 6: Error Checking & Validation

# Check if any date_added year is before release year 
inconsistencies = df[df['date_added'].dt.year < df['release_year']]
print("\nRecords where date_added < release_year:\n", inconsistencies)
# Ensure data types
print("\nData types after cleaning:\n", df.dtypes)
# Sample 5 random rows for manual inspection
print("\nSample records:\n", df.sample(5))
# Reset index for clean output
df = df.reset_index(drop=True)

Records where date_added < release_year:
      show_id     type                       title               director  \
1551   s1552  TV Show                       Hilda              Not Given
1696   s1697  TV Show                Polly Pocket              Not Given
2920   s2921  TV Show               Love Is Blind              Not Given
3168   s3169  TV Show                Fuller House              Not Given
3287   s3288  TV Show          Maradona in Mexico              Not Given
3369   s3370  TV Show             BoJack Horseman              Not Given
3433   s3434  TV Show            The Hook Up Plan              Not Given
4844   s4845  TV Show   Unbreakable Kimmy Schmidt              Not Given
4845   s4846  TV Show        Arrested Development              Not Given
5394   s5395    Movie  Hans Teeuwen: Real Rancour  Doesjka van Hoogdalem
5658   s5659  TV Show                      Sense8              Not Given
5677   s5678  TV Show                 Tokyo Trial              Not Given
7063   s7064    Movie                    Incoming          Eric Zaragosa
7112   s7113  TV Show                 Jack Taylor            Stuart Orme

                                                   cast  \
1551  Bella Ramsey, Ameerah Falzon-Ojo, Oliver Nelso...
1696  Emily Tennant, Shannon Chan-Kent, Kazumi Evans...
2920                        Nick Lachey, Vanessa Lachey
3168  Candace Cameron Bure, Jodie Sweetin, Andrea Ba...
3287                             Diego Armando Maradona
3369  Will Arnett, Aaron Paul, Amy Sedaris, Alison B...
3433  Marc Ruchmann, Zita Hanrot, Sabrina Ouazani, J...
4844  Ellie Kemper, Jane Krakowski, Tituss Burgess, ...
4845  Jason Bateman, Portia de Rossi, Will Arnett, M...
5394                                       Hans Teeuwen
5658  Tuppence Middleton, Brian J. Smith, Doona Bae,...
5677  Marcel Hensema, Paul Freeman, Irrfan Khan, Sta...
7063  Scott Adkins, Aaron McCusker, Vahldin Prelic, ...
7112  Iain Glen, Killian Scott, Nora-Jane Noone, Tar...

                                    country date_added  release_year rating  \
1551  United Kingdom, Canada, United States 2020-12-14          2021  TV-Y7
1696         Canada, United States, Ireland 2020-11-15          2021   TV-Y
2920                          United States 2020-02-13          2021  TV-MA
3168                          United States 2019-12-06          2020  TV-PG
3287       Argentina, United States, Mexico 2019-11-13          2020  TV-MA
3369                          United States 2019-10-25          2020  TV-MA
3433                                 France 2019-10-11          2020  TV-MA
4844                          United States 2018-05-30          2019  TV-14
4845                          United States 2018-05-29          2019  TV-MA
5394                            Netherlands 2017-07-01          2018  TV-MA
5658                          United States 2016-12-23          2018  TV-MA
5677             Canada, Japan, Netherlands 2016-12-13          2017  TV-MA
7063                  Serbia, United States 2018-10-26          2019  TV-MA
7112                 United States, Ireland 2013-03-31          2016  TV-MA

       duration                                          listed_in  \
1551  2 Seasons                                           Kids' TV
1696  2 Seasons                                           Kids' TV
2920   1 Season                      Reality TV, Romantic TV Shows
3168  5 Seasons                                        TV Comedies
3287   1 Season              Docuseries, Spanish-Language TV Shows
3369  6 Seasons                                        TV Comedies
3433  2 Seasons  International TV Shows, Romantic TV Shows, TV ...
4844  4 Seasons                                        TV Comedies
4845  5 Seasons                                        TV Comedies
5394     86 min                                    Stand-Up Comedy
5658  2 Seasons            Crime TV Shows, TV Dramas, TV Mysteries
5677   1 Season                  International TV Shows, TV Dramas
7063     89 min               Action & Adventure, Sci-Fi & Fantasy
7112   1 Season  Crime TV Shows, International TV Shows, TV Dramas

      duration_value duration_unit
1551             2.0       Seasons
1696             2.0       Seasons
2920             1.0        Season
3168             5.0       Seasons
3287             1.0        Season
3369             6.0       Seasons
3433             2.0       Seasons
4844             4.0       Seasons
4845             5.0       Seasons
5394            86.0           min
5658             2.0       Seasons
5677             1.0        Season
7063            89.0           min
7112             1.0        Season

Data types after cleaning:
 show_id                   object
type                      object
title                     object
director                  object
cast                      object
country                   object
date_added        datetime64[ns]
release_year               int64
rating                    object
duration                  object
listed_in                 object
duration_value           float64
duration_unit             object
dtype: object

Sample records:
      show_id     type                                   title  \
3892   s3893  TV Show                             Street Food
5268   s5269    Movie                   Jerry Before Seinfeld
4160   s4161    Movie               Surga Yang Tak Dirindukan
3621   s3622    Movie                               Screwball
6140   s6141    Movie  American Experience: The Island Murder

               director                                               cast  \
3892          Not Given                                          Not Given
5268  Michael Bonfiglio                                     Jerry Seinfeld
4160         Kuntz Agus  Fedi Nuril, Laudya Cynthia Bella, Raline Shah,...
3621       Billy Corben                                          Not Given
6140     Mark Zwonitzer                                        Blair Brown

            country date_added  release_year rating  duration  \
3892  United States 2019-04-26          2019  TV-PG  1 Season
5268  United States 2017-09-19          2017  TV-14    62 min
4160      Indonesia 2019-01-28          2015  TV-14   121 min
3621  United States 2019-08-06          2018  TV-MA   105 min
6140  United States 2019-05-01          2018  TV-14    53 min

                                              listed_in  duration_value  \
3892                                         Docuseries             1.0
5268                                    Stand-Up Comedy            62.0
4160  Dramas, Faith & Spirituality, International Mo...           121.0
3621                       Documentaries, Sports Movies           105.0
6140                                      Documentaries            53.0

     duration_unit
3892        Season
5268           min
4160           min
3621           min
6140           min

In [24]:
# Step 7 Publish (Save Cleaned Dataset) 
df.to_csv('/kaggle/working/cleaned_netflix.csv', index=False) 
print("\nCleaned dataset exported successfully!")

Cleaned dataset exported successfully!